html {
    background-color: #d4ffd8;
}

body {
    font-family: helvetica;
    margin-left:22.5%;
    margin-right:22.5%;
    margin-top:2.5%;
    background-color: white;
    font-size: 110%;
    padding-bottom:2.5%;
    margin-bottom:2.5%;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    border-right: 25%;
    padding-top:5%;
}
  
.flex-container > div {
    width: 50%;
}

#deforestation {
    width: 70%;
    padding-left:15%;
}

#odd{
    padding-right: 10%;
}

h1{
    font-size: 177.5%;
}

#even{
    padding-left: 10%;
    padding-bottom: 5%;
}

h2{
    font-size: 177.5%;
    padding-left:10%;
}

#audio {
    width:75%;
    padding-left: 12.5%;
    padding-top: 2.5%;
}

#audiodescription {
    font-size: 80%;
    padding-right: 10%;
}

#underlay {
    padding-left: 6.25%;
    padding-right: 6.25%;
    padding-top: 2.5%;
}

#youtubevideo {
    margin-left:15%;
    width: 70%;
    height: 45%;
    margin-top:2.5%;
}

#energyefficiency {
    width: 80%;
    padding-left:10%;
    padding-top:10%;
}

#cleanup {
    width: 70%;
    padding-left:15%;
    padding-top:2.5%;
}

#recycle {
    width: 70%;
    padding-left:15%;
    padding-top:5%;
}