body {
    font-family: helvetica;
    margin-left:30%;
    margin-right:30%;
    margin-top:5%;
    background-color:a1ffaa;
}

#deforestation {
    position: absolute;
    left: 35%;
    top: 15%;
    z-index: -1;
}

h1 {
    font-size: 150%;
    padding-left:60%;
}

h2 {
    font-size: 150%;
    padding-right:60%;
}

#odd {
    padding-left:60%;
}

#even {
    padding-right:60%;
}