.padmeme {
    padding-top: 2%;
    padding-bottom: 2%;
}
.stuff {
    padding-left: 15%;
    padding-right: 15%;
    list-style-type: circle;	
    background-color:#ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 115%;
}
.imagestuff {
    padding-left: 20%;
    padding-right: 20%;
    height: 25%;
    width: 25%;
}
li {
    text-align: left;    
}
.fixme {
  cursor: auto;
  color: green;
  all: unset;
}
.bigboy {
    font-size: 25px;
}
#title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 82px;
    /*background: -webkit-linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px black;   
}