html {
    background-color: #d4ffd8;
}

body {
    font-family: helvetica;
    margin-left:22.5%;
    margin-right:22.5%;
    margin-top:2.5%;
    background-color: white;
    font-size: 110%;
    padding-bottom:2.5%;
    margin-bottom:2.5%;
}

ol {
    list-style-type: upper-roman;
}

h2 {
    font-weight: normal;
    font-size: 140%;
}

h1{
    text-align: center;
    padding-top:5%;
    font-size: 175%;
}

#twittershare{
    display: block;
    width: 35%;
    margin-left:30%;
}